{% extends 'layout.html' %}
{% block body %}
<style>
p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;

}
p1 {
    font-weight: bold;
    font-style: italix; 
}
</style
<h1>About Page</h1>
<br>
<br>
<body>
  <p> At Here-n-There hope to create an interactive travel blog platform. People can connect with other traverlers and explore user posts around the world. We are inspired by the personal informatics of blogs and travel.</p>
  <p1> Come travel with us! (and your worldwide friends). </p1>
</body>
{% endblock %}
