{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
  .pics{
    display: -webkit-flex;
    width: 80%;
    max-width: 500px;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  }
 .allpics {
    max-width: 100%;
    height: auto;
  }
  
  .zoom {
    transition: transform .2s; /* Animation */
  }
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

  }
</style>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">


// below is copied from PetsApp-v1 for COGS121 by Philip Guo
// https://github.com/pgbovine/COGS121
$(document).ready(() => {
  $('#filterButton').click(() => {
    const requestURL = '../locations/' + $('#locationBox').val().toLowerCase().split(' ').join('_');
    console.log(requestURL);
    console.log('making ajax request to:', requestURL);

    // From: http://learn.jquery.com/ajax/jquery-ajax-methods/
    // Using the core $.ajax() method since it's the most flexible.
    // ($.get() and $.getJSON() are nicer convenience functions)
    $.ajax({
      url: requestURL,
      type: 'GET',
      dataType : 'json', // this URL returns data in JSON format
      success: (data) => {
        console.log('You received some data!', data);
        console.log(data.length);
        if (data) {
          $('.alllinks').remove();
          for (i = 0; i < data.length; ++i) {
            $("#pics").append('<a class="alllinks" href="/post/' + data[i].pid + '"><img class="allpics" src="' + data[i].img + '"></a>' );
          }
        } else {
          $("#pics").append('<span class="alllinks"> Invalid search man! </span>' );
        }
      },
    });
  });
/*
  $('#allUsersButton').click(() => {
    $.ajax({
      url: '../users/',
      type: 'GET',
      dataType : 'json',
      success: (data) => {
        console.log('You received some data!', data);
        $('#status').html('All users: ' + data);
      },
    });
  });
*/
  // define a generic Ajax error handler:
  // http://api.jquery.com/ajaxerror/
  $(document).ajaxError(() => {
    $('#status').html('Error: unknown ajaxError!');
    console.log('Error: unknown ajaxError!');
  });

  $('.dropdown-toggle').dropdown();
});
</script>

<h1>Welcome to Here-n-There!</h1>

<hr/>
<iframe
src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d49921682.98558856!2d-1.219544210558942!3d40.20955851951437!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1524440040796 &key=AIzaSyAgZAsmAyovxVeCtAyXFUJ42hQxphw9YEY"
width="80%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
<hr/>
<div class="row">
  <div class="col-xs-6 gallery">
    <h1>Gallery</h1>
    <input id="locationBox" type="text" size="20"/>
    <button id="filterButton">Filter Location</button>
    <br>
    <br>
    <div id="pics" class="flex-container">
      {% for post in posts %}
        <div class="zoom"><a class="alllinks" href="/post/{{post.pid}}"><img class="allpics" src="{{post.img}}"/></a></div>
      {% endfor %}
    </div>
  </div>
  <div class="col-xs-3">
    <h2>Stats</h2>
  </div>
  <div class="col-xs-3">
    <h2>Top Locations</h2>
  </div>
</div>
<div id="status"></div>

{% endblock %}
