{% extends 'layout.html' %}
{% block body %}
<style>
  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
  }

  .buttonpost {
      background-color: white;
      color: black;
      border: 2px solid #f44336;
  }

  .buttonpost:hover {
      background-color: #f44336;
      color: white;
  }

  .flex-container{
    display: flex;
    flex-flow: wrap;
    margin: 0 -5px;
    justify-content: center;
    align-items: center;
  }

  .flex-container>* {
    flex: 0 0 33.3333%;
  }

  .allpics {
    width: 18em;
    height: auto;
    margin: 5px 5px 5px 5px;
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    position:absolute;
    top:50px; right:100px;
    font: bold 11px Arial;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .zoom {
    transition: transform .2s; /* Animation */
  }
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #map {
    height:30rem ;
    width:"100%";
  }
  #floating-panel {
         position: absolute;
         top: 10px;
         left: 25%;
         z-index: 5;
         background-color: #fff;
         padding: 5px;
         border: 1px solid #999;
         text-align: center;
         font-family: 'Roboto','sans-serif';
         line-height: 30px;
         padding-left: 10px;
       }
       #floating-panel {
         background-color: #fff;
         border: 1px solid #999;
         left: 25%;
         padding: 5px;
         position: absolute;
         top: 10px;
         z-index: 5;
       }

</style>

<script type="text/javascript">

$(document).ready(() => {

  console.log(locations);
   $('#filterButton').click(() => {
    const requestURL = '../locations/' + $('#autocomplete').val().toLowerCase().split(' ').join('_');
    console.log(requestURL);
    console.log('making ajax request to:', requestURL);

    // From: http://learn.jquery.com/ajax/jquery-ajax-methods/
    // Using the core $.ajax() method since it's the most flexible.
    // ($.get() and $.getJSON() are nicer convenience functions)
    $.ajax({
      url: requestURL,
      type: 'GET',
      dataType : 'json', // this URL returns data in JSON format
      success: (data) => {
        console.log('You received some data!', data);
        console.log(data.length);
        if (data) {
          $('.zoom').remove();
          for (i = 0; i < data.length; ++i) {
            $("#pics").append('<div class="zoom"><a class="alllinks" href="/post/' + data[i].pid + '"><img class="allpics" src="' + data[i].img + '"></a></div>' );
          }
        } else {
          $("#pics").append('<span class="alllinks"> Invalid search man! </span>' );
        }
      },
    });
  });
/*
  $('#allUsersButton').click(() => {
    $.ajax({
      url: '../users/',
      type: 'GET',
      dataType : 'json',
      success: (data) => {
        console.log('You received some data!', data);
        $('#status').html('All users: ' + data);
      },
    });
  });
*/
  // define a generic Ajax error handler:
  // http://api.jquery.com/ajaxerror/
  $(document).ajaxError(() => {
    $('#status').html('Error: unknown ajaxError!');
    console.log('Error: unknown ajaxError!');
  });

  //$('.dropdown-toggle').dropdown();
});
</script>
<body>
<div class="row">
  <div class="col-10">
    <h1>Welcome to Here-n-There!</h1>
  </div>
  <div class="col-2">
    <a href="/newpost"><button class="button buttonpost">New Post</button></a>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12">
    <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map"></div>
  </div>
</div>
<hr/>

<div class="row">
  <div class="col-12 gallery text-center" id="locationField">
    <h1>Gallery</h1>
    <input id="autocomplete" type="text"
        placeholder="Enter a location">    <button id="filterButton">Look up Location!</button>
  </div>
</div>
<div class="row">
  <div class="col-12 gallery">
    <br>
    <br>
    <div id="pics" class="flex-container text-center">
      {% for post in posts %}
        <div class="zoom"><a class="alllinks" href="/post/{{post.pid}}"><img class="allpics" src="{{post.img}}"/></a></div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-1"></div>
<div id="status"></div>

<script>
var placeSearch, autocomplete, geocoder, map, heatmap;
let locations = [];


function initAutocomplete() {
  {% for post in posts %}
    locations.push({lat: {{post.lat}}, lng: {{post.lng}}});
  {% endfor %}
  console.log(locations);
  console.log("Creating map");
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 1.5,
    center: {lat: 51.5, lng: -0.12}
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
    function getPoints() {
      return [
        {% for post in posts %}
          new google.maps.LatLng({{post.lat}}, {{post.lng}}),
        {% endfor %}
      ];
    }


  console.log("HELLO!");
  geocoder = new google.maps.Geocoder();
  autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete'))/*,
      {types: ['(cities)']}*/);

  autocomplete.addListener('place_changed', fillInAddress);
}

function toggleHeatmap() {
    heatmap.setMap(heatmap.getMap() ? null : map);
  }

  function changeGradient() {
    var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
    ]
    heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
  }

  function changeRadius() {
    heatmap.set('radius', heatmap.get('radius') ? null : 20);
  }

  function changeOpacity() {
    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
  }

function codeAddress(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        console.log("Result:" + results[0].geometry.location);
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

function fillInAddress() {
  var place = autocomplete.getPlace();
  console.log(place.geometry.location.lng());
  console.log(place.geometry.location.lat());

  //   codeAddress(document.getElementById('autocomplete').value);
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXeYN_tTJ0na7vyK94PMAxBhgKrV7Ac-U&libraries=places,visualization&callback=initAutocomplete "
        async defer></script>
      </body>

{% endblock %}
