<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>

  <!-- Google One-tap sign-up and auto sign-in on websites
       https://developers.google.com/identity/one-tap/web/get-started -->
  <script src="https://smartlock.google.com/client">
    // onLoad callback, try to retrieve credential
    window.onGoogleYoloLoad = (googleyolo) => {
      console.log('The googleyolo object is ready for use.');


    };
    function login() {
      // retrieve call
      const retrievePromise = googleyolo.retrieve({
        supportedAuthMethods: [
          "https://accounts.google.com",
          "googleyolo://id-and-password"
        ],
        supportedIdTokenProviders: [
          {
            uri: "https://accounts.google.com",
            clientId: "687083663797-h6rk9pcjjm2ac1kib7kcbbjqpqc2ipcg.apps.googleusercontent.com"
          }
        ]
      });

      // After credential is retrieved
      retrievePromise.then((credential) => {
        /*
        if (credential.password) {
          // An ID (usually email address) and password credential was retrieved.
          // Sign in to your backend using the password.
          signInWithEmailAndPassword(credential.id, credential.password);
        } else {
          // A Google Account is retrieved. Since Google supports ID token responses,
          // you can use the token to sign in instead of initiating the Google sign-in
          // flow.
          useGoogleIdTokenForAuth(credential.idToken);
        }
        */
        // TODO: useGoogleIdTokenForAuth()
        useGoogleIdTokenForAuth(credential.idToken);
      }, (error) => {
        // Credentials could not be retrieved. In general, if the user does not
        // need to be signed in to use the page, you can just fail silently; or,
        // you can also examine the error object to handle specific error cases.
        console.log('GoogleYolo credential retrieve failed.');
        // If retrieval failed because there were no credentials available, and
        // signing in might be useful or is required to proceed from this page,
        // you can call `hint()` to prompt the user to select an account to sign
        // in or sign up with.
        if (error.type === 'noCredentialsAvailable') {
          googleyolo.hint('GoogleYolo credential retrieve failed.').then(login());
        }
      });
    }

    function logout() {
      disableAutoSignIn().then(() => {
        // Auto sign-in disabled.
        console.log('Logout: Auto sign-in disabled.');
      });
    }
  </script>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Here-n-There</h1>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li {% if title == "home" %} class='active' {% endif %}>
              <a href="/">Home</a>
            </li>
            <li {% if title == "new post" %} class='active' {% endif %}>
              <a href="/newpost">Posts</a>
            </li>
            <li {% if title == "locations" %} class='active' {% endif %}>
              <a href="/locations">Locations</a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">View my profile</a></li>
                <!-- TODO: conditional on login/logout -->
                <li><a>Login</a></li>
                <li><a>Logout</a></li>
              </ul>
            </li>
            <li {% if title == "about" %} class='active' {% endif %}>
              <a href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">
    <!-- Flash massages -->
    {% if flash %}
    {% for type, message in flash %}
    <ul>
      <div class="alert alert-{{ type }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    </ul>
    {% endfor %}
    {% endif %}
    <!-- Below goes every page of the wesites -->
    {% block body %}
    {% endblock %}
  </div>
  </body>
</html>
