<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Here-n-There</h1>
      <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li {% if title == "home" %} class='active' {% endif %}>
          <a href="/">Home</a>
        </li>
        <li {% if title == "posts" %} class='active' {% endif %}>
          <a href="/posts">Posts</a>
        </li>
        <li {% if title == "locations" %} class='active' {% endif %}>
          <a href="/locations">Locations</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">View my profile</a></li>
            <!-- TODO: conditional on login/logout -->
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li {% if title == "about" %} class='active' {% endif %}>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>

    </div>
  </header>
  <div class="container">
    <!-- TODO: Flash massages -->
    {#
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul >
      {% for message in messages %}
      <div class="alert alert-{{ message[0] }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    #}
    {% block body %}
    {% endblock %}
  </div>
  </body>
</html>
