<!--
This file contains the button that forces the users to login for pages that require users to have signed up for the account. It contains of a POST request that sends back the id login
token to check the database for an already created account.
-->

{% extends 'layout.html' %}
{% block body %}
<h1>Login Page</h1>


<div class="flex-container text-center" style="display: flex; justify-content: center;">
  <h1>You need to login to continue...</h1>

  <script type="text/javascript">
    function onSignIn_login_page(googleUser) {
      // signed in redirecting to the homepage
      if (window.isSignedIn) {
        window.location.replace('/');
      }
      // Getting data for the Google account
      const profile = googleUser.getBasicProfile();


      // The ID token that is being passed to the backend
      const id_token = googleUser.getAuthResponse().id_token;
      const google_id = profile.getId();
      $.ajax({
        url : '/idTokenLogin',
        type: 'POST',
        data: {
          idToken: id_token,
          google_id: google_id
        },
        success: (data) => {
          window.location.replace('/');
        }
      });
    };
  </script>
  <div class="g-signin2" data-onsuccess="onSignIn_login_page"></div>
</div>

{% endblock %}
