{% extends 'layout.html' %}
{% block body %}

<style>

  textarea {
  width: 500px;
  height: 300px;
  }
  button{
    height:50px;
    width:100px;
    position:relative;
    top:50%;
    left:50%;
    background-color: #008CBA;
    font-weight: bold;
  }
</style>

<h1>New PostPage</h1>

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas)</script>

<script type="text/javascript">


$(document).ready(() => {
  $('#insertButton').click(() => {
    let time = new Date(Date.now()).toJSON();
    let text = $('#insertBodyBox').find('.nicEdit-main').html();
    console.log(text);
    console.log(time);
    $.ajax({
      // all URLs are relative to http://localhost:3000/
      url: 'newpost',
      type: 'POST', // <-- this is POST, not GET
      data: {
        name: $('#insertNameBox').val(),
        body: text,
        location: $('#insertLocationtBox').val(),
        image: $('#insertImageURL').val(),
        time: time,
        author: "Hasan"
      },
      success: (data) => {
        $('#status').html(data.message);
      }
    });
  });
  // define a generic Ajax error handler:
  // http://api.jquery.com/ajaxerror/
  $(document).ajaxError(() => {
    $('#status').html('Error: unknown ajaxError!');
  });
});
</script>

  <hr/>
  Name: <input id="insertNameBox" type="text" size="20"/>
  <br>
  Location: <input id="insertLocationtBox" type="text" size="20"/>
  <br>
  Image: <input id="insertImageURL" type="text" size="20"/>
  <br>
  Body: <form id="insertBodyBox">
          <textarea id="theText" rows="4" style="width: 80%"></textarea>
        </form>
  <br>

  <hr/>
  <div id="Butt">
  <button id="insertButton"> Post!</button</div>


  <div id="status"></div>

{% endblock %}
