{% extends 'layout.html' %}
{% block body %}
<h1>New PostPage</h1>

<script src="jquery-3.3.1.min.js"></script>

<script type="text/javascript">

$(document).ready(() => {
  $('#insertButton').click(() => {
    $.ajax({
      // all URLs are relative to http://localhost:3000/
      url: 'newpost',
      type: 'POST', // <-- this is POST, not GET
      data: {
              name: $('#insertNameBox').val(),
              body: $('#insertbodyBox').val(),
              location: $('#insertlocationtBox').val()
              image: $('#insertimageURL').val()

            },
            success: (data) => {
              $('#status').html(data.message);
            }
          });
        });
        // define a generic Ajax error handler:
        // http://api.jquery.com/ajaxerror/
        $(document).ajaxError(() => {
          $('#status').html('Error: unknown ajaxError!');
        });
      });
</script>

  <hr/>
  Name: <input id="insertNameBox" type="text" size="20"/>
  Body: <input id="insertJobBox" type="text" size="300"/>
  Location: <input id="insertlocationtBox" type="text" size="20"/>
  Image: <input id="insertimageURL" type="text" size="20"/>

  <button id="insertButton">Make New Post!</button>

  <hr/>
  <div id="status"></div>

{% endblock %}
