{% extends 'layout.html' %}
{% block body %}

<script type="text/javascript">

$(document).ready(() => {
  $('#submitBtn').click(() => {
    location.reload();
    const requestURL = {{pid}};
    console.log('making ajax request to:', requestURL);
    // TODO: This URL right now is root/post/post/PID, which is not right.
    $.ajax({
      // all URLs are relative to http://localhost:3000/
      url: requestURL,
      type: 'POST', // <-- this is POST, not GET
      data: {
        body: $('#comment_text').val(),
      },
      success: (data) => {
        $('#status').html(data.message);
      }
    });
  });

  $('#resetBtn').click(() => {
    document.getElementById("comment").reset();
  });
});
</script>

<div id="primary_img">
  <img src="{{ img }}" width="100%"/>
</div>
<div id="post_title">
  <h1><strong>{{ title }}</strong></h1>
</div>
<div id="author">
  <h4>Author: {{ author }}</h4>
</div>
<div id="location">
  <h4>Location: {{ location }}</h4>
</div>
<div id="time">
  <h4>Time: {{ time }}</h4>
</div>
<hr/>
<div id="content" style="min-height: 200px">
  {{ content | safe }}
</div>
<hr/>
<h1> <strong> Comments </strong> </h1>
{% for comment in comments %}
<div class="row comment">
  <div class="col-xs-3"><h2> {{ comment.author }} </h2> </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-7"> {{comment.body }} </div>
</div>
{% endfor %}
<h2><strong>Add a comment!</strong></h2>
<div id="comment">
  <textarea id="comment_text" rows="4" style="width: 100%">
  </textarea>
  <br/>
  <button id="submitBtn" class="btn btn-primary">Submit Comment</button>
</div>

<hr/>
<footer>
  <h4>Thanks for using Here-n-There!</h4>
</footer>

{% endblock %}
