<!--
This page contains the rendering of the user's account data, which involves the posts that the user has made, as well as the
posts that the user has pinned, the user's username and profile picture, and a Google Maps object that displays pins for all of the
user's created posts. The posts can also redirect the user to the specific post when the picture is clicked.
-->

{% extends 'layout.html' %}
{% block body %}

<!-- Styling of the elements in the file -->
<style>
  #id {
    text-align: center;
  }

  .left-content {
    border-right: 1px dashed #333;
  }

  .flex-container{
    display: flex;
    flex-flow: wrap;
    margin: 0 -5px;
    justify-content: center;
    align-items: center;
  }

  .flex-container>* {
    flex: 0 0 33.3333%;
  }

  .allpics {
    width: 18em;
    height: auto;
    margin: 5px 5px 5px 5px;
  }

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    position:absolute;
    top:50px; right:100px;
    font: bold 11px Arial;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .zoom {
    transition: transform .2s; /* Animation */
  }
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  #map {
    height: 30rem;
    width: 100%;
  }
</style>

<h1>Profile Page</h1>
<hr/>
<div id="container">
  <div class ="row text-center" id="profile_img">
    <img id="avatar" src="{{ avatar }}" alt="Avatar" style="border-radius: 50%; height: 20em;">
    <h1 id="name" class="text-center">{{ uname }}</h1>

  </div>

  <div id="map"></div>
  <script>

    // Callback function for the importing of the google maps API
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2.15,
        center: {lat: 30, lng: 5}
      });

      // Create an array of alphabetical characters used to label the markers.
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      // Add some markers to the map.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    const locations = [];
    {% for post in posts %}
      locations.push({lat: {{ post.lat }}, lng: {{ post.lng }}});
    {% endfor %}

  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVbLzMoJnKWQivsE9l2UGIat8XbA0QmW0&callback=initMap&language=en">
  </script>

  <div id="profile_content">
    <div class="row">
      <div class="col-6 text-center left-content">
        <h2> Posts </h2>
        <div class="gallery">
          <br>
          <br>
          <!-- Personal posts that are created by the user are rendered here -->
          <div id="pics" class="flex-container text-center">
            {% for post in posts %}
              <div class="zoom"><a class="alllinks" href="/post/{{post.pid}}"><img class="allpics" src="{{post.img}}"/></a></div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-6 text-center">
        <h2> Pinned </h2>
        <div class=" gallery">
          <br>
          <br>
          <!-- Pinned posts by the user are rendered here -->
          <div id="pics" class="flex-container text-center">
            {% for pin in pinned %}
              <div class="zoom"><a class="alllinks" href="/post/{{pin.pid}}"><img class="allpics" src="{{pin.img}}"/></a></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
{% endblock %}
