{% extends 'layout.html' %}
{% block body %}
<style>
  h1 {
    text-align: center
  }
  .form-style-1 {
    margin:10px auto;
    max-width: 800px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
    text-align: center

  }
  .form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    text-align: center

  }
</style>

<script type="text/javascript">


$(document).ready(() => {
  $('#submitBtn').click(() => {
    console.log('submitBtn clicked');
    $.ajax({
      url: '/signup',
      type: 'POST',
      data: {
        name: $('#nameInput').val(),
        img: $('#imgInput').val()
      },
      success: (data) => {
        console.log(data.message);
        window.location.replace('/');
      }
    });
  });

  $('#logoutBtn').click(() => {
    const auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    $.ajax({
      url : '/logout',
      type: 'POST',
      success: () => {
        console.log('/logout ajax POST success');
        window.location.replace('/');
      }
    });
  });
});
</script>

<h1>Final Step!</h1>

<div class="flex-container text-center" style="display: flex; justify-content: center;">
  <h4>You have signed in with your google account, </br> please fill in the fields below to register at Here-n-There.</h4>
</div>
<ul class="form-style-1">
  <div id="survey">
  <br>
  <div class="box col-8 col-offset-2" style="padding: 3em">
    <div class="form-group">
      <li><label>User name:</label></li>
      <input type="text" id="nameInput">
    </div>
    <div class="form-group">
      <li> <label>Profile image (URL):</label></li>
      <input type="text" id="imgInput">
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
      <button class="btn btn-primary" id="submitBtn">
        <span style="font-size:20">Sign up now!</span>
      </button>
      <button class="btn btn-danger" id="logoutBtn">
        <span style="font-size:20">Cancel</span>
      </button>
    </div>
  </div>
</div>
</ul>

{% endblock %}
